#chapter1	{ color:red;	}
#chapter2	{ color:green;	}
#chapter3	{ color:blue; 	}

#chapter1contents	{ background: fuchsia; }
#chapter2contents	{ background: lime; }
#chapter3contents	{ background: aqua; }